.page6_style{
    margin:30px;
}
.page_maincontent
{
    background-image: url('./page6_img/background.png');
    background-size: cover;
}
.page6_title
{
  
  /* display:block; */
  

}
.page6_title h1{
    padding: 20px;
   margin : 0 200px 30px 600px;
    color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4em;
}
.page6_title p{
    color: gray;
    display: inline-block;
    margin-left: 450px;
}
hr{
    width: 40%;
    color: gray;
}
.page6_title h4{
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-left: 320px;
    font-size:x-large;
    font-weight: 100;
}
.page6_title h2{
    padding: 20px;
   margin : 0 200px 30px 700px;
    color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
  margin-bottom:0px ;
}
#p_pos{
    margin-left: 720px;
   margin-top: 0px;
}
.page6_img{
    display: flex;
    margin: 0 100px 200px 100px;
    justify-content: center;
}
#p6a{
    position: absolute;
    left:675px;
    top: 6100px; 
    margin-bottom: 40px;
}
#p6b{
    margin-left: 20px;
    margin-bottom: 40px;
}
#p6c{
    margin-left: 20px;
    margin-bottom: 40px;
}
#p6d{
    margin-left: 20px;
    margin-bottom: 40px;
}
#p6e{
    margin-left: 20px;
    margin-bottom: 40px;
}
.page6_logo{
    
    justify-content: space-around;
    display: flex;
}
#p6f{
    margin-bottom: 100px; 
}
#p6g{
    margin-bottom: 100px; 
}
#p6h{
    margin-bottom: 100px; 
}
#p6i{
    margin-bottom: 100px; 
}
#p6j{
    margin-bottom: 100px; 
}