
.right_style {
    position:relative;
    margin-bottom: 100px;
}

#oval-outer{
    mix-blend-mode: multiply;
    filter: contrast(1);
    /* opacity: 0.1; */
}

#oval-inner{
    position: absolute;
    left: 45px;
    top: 30px;
    width: 750px;
    /* mix-blend-mode: multiply; 
    filter: contrast(-5);  */
}
#mid-pic{
    position: absolute;
    left: 150px;
    top: 10px;
    border-radius: 30px;
    height: 620px;
    
}
#top-man{
    position: absolute;
    left: 75px;
    top: 30px;
    border-radius: 40px;
   
}
#top-icon {
    position: absolute;
    left: 220px;
    top: 55px;
    border-radius: 10px;
}
#bottom-women{
    position: absolute;
    left: 465px;
    top: 290px;
    border-radius: 40px;
   
}
#bottom-icon {
    position: absolute;
    left: 430px;
    top: 405px;
    border-radius: 10px;
}