#oval-in{
    position: absolute;
    left: 0px;
    top: 1800px;
}
#center-pic{
    position: absolute;
    left: 70px;
    top: 1890px;
}
#men-pic{
    position: absolute;
    left: 395px;
    top: 2065px;
}