#oval-in{
    position: absolute;
    left: 0px;
    top: 2100px;
}
#center-pic{
    position: absolute;
    left: 70px;
    top: 2150px;
    height: 700px;
}
#men-pic{
    position: absolute;
    left: 460px;
    top: 2355px;
}